.Soda-image {
  height: 20%;
  width: 20%;
}

.Soda-container {
  background-color: rgba(5,5,5,0.35);
  width: 40vw;
  height: 40vh;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Soda {
  display: flex;
  justify-content: space-around;
}

